:root {
  --primary-500: hsl(21, 62%, 45%);
  ---clr-white: #fff;
  ---clr-black: #222;
  --transition: 0.6s ease-in-out all;
}
html {
  scroll-behavior: smooth;
}
a {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.nav-links a {
  color: var(--primary-500);
  font-size: 1.1rem;
}

.style-text {
  color: goldenrod;
}
