@media (min-width: 700px) {
  nav {
    background: transparent;
  }
  .nav-toggle {
    display: none;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links-container {
    height: auto !important;
  }
  .nav-links {
    display: flex;
    gap: 1rem;
  }
}
img {
  max-width: 100%;
  display: block;
}

header#home {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(../assets/hero-bcg.jpeg) center/cover no-repeat;
  /* background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(./images/heroFood.jpg) center/cover no-repeat; */
}
