*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.3;
  font-weight: 400;
  font-size: 1.5rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
